body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#panel{
    font-size: 25px;
    font-family: arial, sans-serif;
    position: absolute;
    display: flex;
    width: 322px;
    justify-content: space-between;
    padding: 5px;
    background: #ffffffa1;
}
#start{
    height: 45px;
    border-radius: 15px;
    margin-top: -55px;
    background-color: #5a6a8c;
    color: white;
    font-weight: bold;
}
.board{
    overflow: hidden;
    height: 665px;
    border: 35px solid #24355a;
    border-bottom: 70px solid #24355a;
    border-radius: 40px;
}
canvas{
    height: 800px;
    margin: -135px auto;
}
